# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/.fabric
run/config
run/data
run/downloads
run/logs
run/resourcepacks
run/resources
run/saves
run/command_history.txt
run/options.txt
run/usercache.json

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
